h1 {
  color: red;
}

p {
  color: #bc6c25;
}

body {
  /* background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  ); */
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  margin: 0;
  text-align: center;
}

img {
  width: 100%;
  height: 100px;
  object-fit: fill;
}

div {
  background-color: white;
  padding: 10px;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}
